<header class="header">
    <div class="header__container _container">
        <a href="#" class="header__logo">
            <picture class="logo__image">
                <source srcset="assets/image/logo_s.png" media="(max-width: 600px)">
                <img src="assets/image/logo_xs.png" alt="">
            </picture>
        </a>
        <nav class="header-menu">
            <ul class="header-menu__list">
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">О ДРОНЕ</a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">ПРЕИМУЩЕСТВА</a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">ХАРАКТЕРИСТИКИ</a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">ВОПРОСЫ</a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">КОНТАКТЫ</a>
                </li>
            </ul>
        </nav>
        <div class="header__info">
            <button class="header__bnt">Купить</button>
            <a href="tel:80505676767" class="header__phone">8 (050) 567 67 67</a>
        </div>
    </div>
</header>